#maincontent {
    max-width: 700px;
    margin: 0 auto;
}
input, textarea {
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 3px;
    color: #111;
    margin: 2% 0;
    outline: 0;
    padding: 2%;
    width: 96%;
}
textarea {
    resize: vertical;
}
p {
    text-align: justify;
}
